


<p id="notice"><%= notice %></p>

<!-- <div class="page-header">
    <center><h1 id="container"></h1></center>
    <div
  		class="fb-like"
  		data-share="true"
  		data-width="450"
  		data-show-faces="true">
	</div>
</div> -->

<div class="jumbotron">
    <center><h1>ClusterCard.net</h1>
      <p><h4>Create a birthday, greeting, or well-wishes video card for your friends. </h4></p>
    <p><h4>Each ClusterCard has its own page of videos.</h4></p>
	<p><h4>Invite others to contribute.</h4></p>
    <p><%= link_to 'Learn more', info_path, class: "btn btn-warning btn-lg", method: :get %></p>
    <p><%= link_to 'Create your card', new_card_path, class: "btn btn-success btn-lg" %></p></center>
</div>

