


<p id="notice"><%= notice %></p>

<!-- <div class="page-header">
    <center><h1 id="container"></h1></center>
    <div
  		class="fb-like"
  		data-share="true"
  		data-width="450"
  		data-show-faces="true">
	</div>
</div> -->

<div class="jumbotron">
    <center><h2>ClusterCard!</h2>
      <p><h4>Crowd-sourced video cards:
      <li>birthday
      <li>greeting
      <li>get-well
      <li>sympathy
      <li>congratulations</h4>

      <h4><p>Send to friends, family -- anyone!</p>
    <p>It's easy! Upload videos right from your phone</p>
    <p>Invite others to contribute.</p>
	<p>Create as many as you like.</p><br>
  <p>Easy.  Fast.  Fabulous.</p></h4><br>

    <p><%= link_to 'Learn more', info_path, class: "btn btn-warning btn-lg", method: :get %></p>
    <p><%= link_to 'Create your card', new_card_path, class: "btn btn-success btn-lg" %></p></center>
</div>

