$primary-color: #41d56a;

$anniversary-color: #ce605a;
$birthday-color:    #9aa2c7;
$sympathy-color:    #77aa12;
$generic-color:     #6b89db;
$wedding-color:     #bcb2b9;
$congratulations-color: #f0b88f;
$thank_you-color:   #a57218;

$spacing-unit: 60px;